.h5p-collage-wrapper {
  border: 0 solid transparent;
}
.h5p-collage-template {
  width: 100%;
  height: 100%;
}
.h5p-collage-row {
  border: 0 solid transparent;
  box-sizing: border-box;
}
.h5p-collage-col {
  float: left;
  height: 100%;
  overflow: hidden;
  border: 0 solid transparent;
  box-sizing: border-box;
  position: relative;
}
.h5p-collage img {
  width: 1px;
  height: 1px;
  max-width: none !important;
  margin: 0 0 0 -1px;
  visibility: hidden;
}
.h5p-collage-edit {
  cursor: -webkit-grab;
  cursor: grab;
}
.h5p-collage-grabbed {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.h5p-collage-empty {
  background: #f6f6f6;
  width: 100%;
  height: 100%;
}
.h5p-collage-empty:after {
  position: absolute;
  content: "";
  background: url('http://h5p.org/sites/all/themes/professional_themec/images/h5p.svg') no-repeat center;
  background-size: 50% 50%;
  width: 100%;
  height: 100%;
}
.h5p-collage-loading:after {
  -webkit-animation: spinning 1s infinite ease-in-out;
  animation: spinning 1s infinite ease-in-out;
}
@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

.h5p-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
